
*  { 
    box-sizing: border-box;
    /* border: 1px solid red; */
    margin: 0;
}

.banner {
    background-color: royalblue;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 0;
}
.banner h1{
    padding: 10px 0;
    margin:0;
}
.container {
    margin:0;
}
.search {
    margin-top: 10px;
    border-right: 5px solid black;
}
.main {
   padding-left: 60px; 
}
.current-day {
    margin: 10px 0px 20px 0px;
    padding: 0;
}
.current-day h2 {
    margin: 0;
}
.info {
    Border: 1px solid black;
}
.searchHistoryButtons {
    margin-top:10px;
    display:flex;
    flex-direction: column;
}
.forecastBoxEl{
    border: 1px solid black;
    padding: 5px;
    background-color: royalblue;
    color: white
}
.forecast-ul {
    padding: 0px;
    list-style-type: none;
    font-size: auto;
}
.green {
    color: green;
}
.yellow {
    color: yellow;
}
.orange {
    color: orange;
}
.red {
    color: red;
}
.violet {
    color: violet;
}
