
*  { 
    box-sizing: border-box;
    /* border: 1px solid red; */
    margin: 0;
}

.banner {
    background-color: royalblue;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 0;
}
.banner h1{
    padding: 10px 0;
    margin:0;
}
.container {
    margin:0;
}
.search {
    margin-top: 10px;
    border-right: 5px solid black;
}
.current-day {
    margin: 10px 0px 300px 0px;
    padding: 0;
}
.current-day h2 {
    margin: 0;
}
.info {
    Border: 1px solid black;
}
.searchHistoryButtons {
    margin-top:10px;
    display:flex;
    flex-direction: column;
}